# Get rid of noise

## C/E tags
TAGS
tags

## Compiler debris
**/tmp_build_dir

## All compiled programs
**/*.gnu.*.ex

## MacOS creates dynamic linker symbol files
*.dSym

## Python caches
**/__pycache__

## Plot files
exec/*/plt*
exec/*/stag*
