# Get Rid of Noise

## Local path config
tools/Path.local

## C/E tags
TAGS
tags

## Compiler debris
**/tmp_build_dir

## Crash debris
**/Backtrace.*

## All compiled programs
**/*.gnu.*.ex

## MacOS creates dynamic linker symbol files
*.dSym

## Python caches
**/__pycache__
.ipynb_checkpoints

## IDE debris
.vscode


# Data Files

## Plot files
exec/*/plt*
exec/*/stag*

## Debug data
exec/*_ibm/ib_data/*
