# Get Rid of Noise

## Local path config
tools/Path.local

## C/E tags
TAGS
tags
GTAGS
GSYMS
GPATH
GRTAGS

## Compiler debris
**/tmp_build_dir

## Crash debris
**/Backtrace.*

## All compiled programs
*.gnu.*.ex
*.ex
dist

## MacOS creates dynamic linker symbol files
*.dSym

## MacOS crap
.DS_Store

## Python caches
**/__pycache__
.ipynb_checkpoints

## IDE debris
.vscode


# Data Files

## Plot files
exec/**/plt*
exec/**/stag*

## Debug data
exec/**/ib_data/*
exec/**/ib_*_data.*

exec/**/*_D_*
exec/**/*_H

exec/**/*.png


## Rendered videos
*.mpeg
